@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
}

button {
  border-radius: 0.65rem;
  transition: all 0.35s;
  color: #fff;
  border: solid 0.1rem #020e1b;
  background-color: #020e1b;
}
button:hover {
  color: #000;
  background-color: #fff;
}
button.submit {
  padding: 0.5rem 0.1rem;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
}
.form__title h3 {
  margin: 0.5rem 0;
  text-align: center;
}
.form__title p {
  margin: 0;
  font-size: 0.75rem;
}
.form__input {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.form__input input {
  width: 100%;
  outline: none;
  border: solid 0.05rem rgb(160, 160, 160);
  border-radius: 0.4rem;
  padding: 0.35rem 0.5rem;
  margin-top: 0.5rem;
}
.form__button {
  width: 100%;
  margin: 0.5rem 0;
}
.form__button button {
  width: 100%;
}

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  scrollbar-width: thin;
  font-size: 20px;
}

#__next, .app, .app__content {
  height: 100%;
}