$green-success: #23a946;

$blue: #4D96FF;
$blue-light: #8fbdff;
$blue-dark: #0d2947;
$navy-dark: #020e1b;


$danger: #ff4d4f;
$warning: #f7ca01;

$white: #fff;
$black: #000;

$grey: rgb(160, 160, 160);